{% extends "base.html" %}

{% block title %}Inquestigate{% endblock %}

{% block contents %}

<!--DESCRIPTION OF OUR PROJECT/HOW IT WORKS (THOUGH SELF-EXPLANATORY)-->

<div class="container" id="credits">
  <table align="center" cellpadding="15" class="table table-bordered table-hover">
    <tr><th><p style="font-size:80px; line-height: 200%">Our Team</p></th></tr>
    <tr>
      <td><font size="4">LEADER</font></td>
      <td><img src="../static/angela.png"></td>
      <td><code><font size="5">Angela Chan</font></code></td>
    </tr>
    <tr>
      <td><font size="4">UX</font></td>
      <td><img src="../static/amanda.png"></td>
      <td><code><font size="5">Amanda Chiu</font></code></td>
    </tr>
    <tr>
      <td><font size="4">MIDDLEWARE/BACKEND</font></td>
      <td><img src="../static/eric.png"></td>
      <td><code><font size="5">Eric Stringham</font></code></td>
    </tr>
    </code>
  </table>
  <p class="alignleft team">Zamansky Period 7 Fall 2015</p>
</div>
{% endblock %}