<!DOCTYPE HTML>
<html lang="en">
  <head>
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet"
     href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="../static/style.css" rel="stylesheet">
    <!-- URL Icon -->
    <link rel="shortcut icon" type="image/ico"
     href="{{url_for('static', filename='favicon.ico')}}">
     <!-- Bootstrap Core JavaScript -->
    <script
     src="//maxcdn.bootstrapcdn.com/bootsrap/3.3.5/js/bootstrap.min.js">
    </script>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"></button>
      <a class="navbar-brand" href="#">
	       <img alt="Inquestigate" src="../static/maglogo.gif" height="50">
	     </a>
  </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                </ul>
      </div>
    </nav>
    {% block contents %}{% endblock %}
  </body>
</html>
