<!DOCTYPE HTML>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% block title %}{% endblock %}</title>
  
  <!-- Bootstrap Core CSS -->
  <link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
  
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/ico"
    href="{{url_for('static', filename='favicon.ico')}}">
  <link rel="icon" type="image/ico"
    href="{{url_for('static', filename='favicon.ico')}}">
</head>


<body>
  
  <!--NAVBAR-->
  <nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix">
    <div class="container">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed"
	        data-toggle="collapse" data-target="#navbar"
	        aria-expanded="false" aria-controls="navbar">
	        <span class="sr-only">Toggle Navigation</span>
	      </button>
        <a class="navbar-brand" href="/">Inquestigate</a>
        <a class="pull-left" href="/">
          <img alt="Inquestigate"
            src="{{ url_for('static', filename='maglogo.gif') }}"
            height=50px>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="hidden"><a href="#page-top"></a></li>
          <li>
            
            <!--JUMP TO SECTION/CIRCLE LOGOS-->
            <a href="#full">
            <img alt="Definitions"
            src="{{ url_for('static', filename='dictionary.png') }}"
            height=25px>
          </a></li>
          <li><a href="#pictures">
            <img alt="Images"
            src="{{ url_for('static', filename='camera.png') }}"
            height=25px>
          </a></li>
          <li><a href="/">
            <img alt="Videos"
            src="{{ url_for('static', filename='video.png') }}"
            height=25px>
          </a></li>
          <li><a href="/">
            <img alt="News Articles"
            src="{{ url_for('static', filename='newspaper.gif') }}"
            height=25px>
          </a></li>
          <li><a href="/">
            <img alt="Trivia"
            src="{{ url_for('static', filename='lightbulb.png') }}"
            height=25px>
          </a></li>
          <li><a href="#top">
            <img alt="Top"
            src="{{ url_for('static', filename='up-caret.png') }}"
            height=25px>
          </a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </div><!-- /.nav-collapse -->
    </div>
  </nav>
    
  <div class="container" id="top">
    {% block contents %}{% endblock %}
  </div><!-- /.container -->
  
  <!-- Bootstrap Core JavaScript -->
  <!-- (End of doc for faster page loads) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
    integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
    crossorigin="anonymous"></script>
  <script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
    $('.carousel').carousel({
      interval: 2000
    })
  });    
</script>
  <img src="{{ url_for('static', filename='mascot.gif') }}" class="footer">
</body>

</html>
